*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
/* footer */
.footer{
  color: white;
  padding: 20px;
  background: #000000;
  background: linear-gradient(to left,rgb(106, 97, 97),rgb(0, 0, 0)) ;
}
.footer a{
  text-decoration: none;
  color: white;
  padding: 5px;
}
.footer a:hover{
  color: rgb(149, 187, 159);
  border-bottom: 1px solid rgb(149, 187, 159);
}